
//- include ../header-details.pug
article.charsheet-inner
    main(class="main" id="main")
        .container
            .row
                .col-12.charsheet-inner__space-bottom
                    include ../header.pug
                .col-11.charsheet-inner__space-bottom
                    include ../segment-section.pug
                .col-11.charsheet-inner__space-bottom
                    include ../attack-type.pug
                .col-11.charsheet-inner__space-bottom
                    include ../popup/dismiss.pug
                .col-11.charsheet-inner__space-bottom
                    include ../popup/attack-selected.pug
                .col-11.charsheet-inner__space-bottom
                    include ../popup/attack-roll.pug
                .col-11.charsheet-inner__space-bottom
                    include ../popup/attack-damage.pug
                .col-11.charsheet-inner__space-bottom
                    include ../spell-force-section.pug
                .col-11.charsheet-inner__space-bottom
                    include ../attack-force-section.pug
                .col-11.charsheet-inner__space-bottom
                    include ../abilities-section.pug
                .col-11.charsheet-inner__space-bottom
                    include ../saving-throws-section.pug
                .col-11.charsheet-inner__space-bottom
                    include ../skills-section.pug