
.container.character
    .row
        .col-2
            .wrapper
                .character__image-border.character__image
                    img(src="", alt="user image selected")
                    .character__back-button.character__back-button-position.character__back-button-border
                        img(src="", alt="back button")
                    .character__health-point
                        span(class='user-points' name='attr_hp') 
                        span(class='user-points')/
                        span(class='user-points' name='attr_hp_max')
        .col-5
            .wrapper
                .character__race-level
                    span(name='attr_class')
                    span(name='attr_base_level')
