include ../../_variables.pug

header.header
    .container
        .row.justify-content-center.g-0
            .col-4.justify-content-center
                span(class='header__exit-button-user') Exit
            .col-8.justify-content-center
                span(class='header__user-name' name='attr_character_name')