.container.attack-damage-container
    .row
        .col-2
            .attack-damage-container__icon
                img(src="../../images/d10-white.png", alt="")
        .col-6.attack-damage-container__column-section
            .attack-damage-container__name
                span.attack-damage-container__text Damage
            .attack-damage-container__damage
                 span.attack-damage-container__value 1d20 piercing
        .col-1
            .attack-damage-container__equal-icon
                span.attack-roll-container__equal =
        .col-3
            .attack-damage-container__equal-icon
                span.attack-damage-container__text 22
            .attack-damage-container__damage.attack-damage-container__points
                 span.attack-damage-container__value 18 + 4