.container.attack-roll-container
    .row
        .col-2
            .attack-roll-container__icon
                img(src="../../images/d20-White.png", alt="")
        .col-6.attack-damage-container__column-section
            .attack-roll-container__name
                span.attack-roll-container__text Attack Roll
            .attack-roll-container__roll
                 span.attack-roll-container__roll-type 1d20
                 span.attack-roll-container__roll-value +4
        .col-1
            .attack-roll-container__equal-icon
                span.attack-roll-container__equal =
        .col-3
            .attack-roll-container__equal-icon
                span.attack-roll-container__text 22
            .attack-roll-container__points
                 span.attack-roll-container__roll-type 18
                 span.attack-roll-container__roll-value +4