.container.purple-container
    .row
        .col-8
            .purple-container__message
                span.purple-container__text Dismiss
        .col-4
            .purple-container__icon
                img(src="../../images/x-circle-fill.png", alt="")