.container
    .row
        .col-12
            span.attack-type Attack Type
        .col-12.btn-row
            .btn
                button.spell-btn(type="button" value="spells")
                    span.btn-type Spells
            .btn
                button.attack-btn(type="button" value="attacks")
                    span.btn-type Attacks