.wrapper-header
    .container.header
        .row
            .col.col-4
                span(class='header__exit-button-user') Exit
            .col.col-8
                span(class='header__user-name' name='attr_character_name')
    include ./headers-details.pug