.purple-attack-container {

    $self: &;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    background: #702C91;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 90%;

    &__message {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: Nunito;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        order: 0;
        flex-grow: 0;
        margin: 0;
        height: 47px;
        width: 100%;
    }
}