.attack-roll-container {

    $self: &;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    position: static;
    background: #702C91;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 90%;

    &__icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 24px 28px;

        img {
            height: 40px;
            width: 37px;
            opacity: 0.8;
        }
    }

    &__name,
    &__equal,
    &__text {
        width: 100%;
        display: flex;
        margin: 1px 16px;
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 25px;
        letter-spacing: 0em;
        color: #fff;
    }

    &__column-section {
        display: flex;
        flex-direction: column;
    }

    &__roll-type {
        display: inline-block;
        left: 0%;
        right: 77.17%;
        top: 0%;
        bottom: 0%;
        font-family: Nunito;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 5px 0px 16px;
    }

    &__roll {
        width: 100%;
        text-align: left;
    }

    &__equal-icon {
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__roll-value {
        color: #54b8ec;
        display: inline-block;
        left: 0%;
        right: 77.17%;
        top: 0%;
        bottom: 0%;
        font-family: Nunito;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    &__points {
        text-align: center;
        transform: translateX(-20%);
    }
}