.atack-force {
    // background-color: $section-background-color;
    // border-radius: $secondary-border-radius;
    margin: 10px 0;
    // margin-top: 60%;
    padding: 2.5vw;
    @media (min-width: $md) {
        margin: 10px;
    }

    @media (min-width: $xl) {
        margin: 20px;
    }
}

.attack-content {
    $self: &;

    background-color: #2E2534;
    border-radius: 12px;
    width: 100%;
    height: 200px;
    margin: 20px 0px;
    position: relative;

    &__btn-force {
        float: right;
        display: inline-flex;
        margin-top: 28px;
    }

    &__force {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 2px 8px;
        width: 46px;
        height: 20px;
        background: #212529;
        border: 1px solid #EC008C;
        border-radius: 99px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 4px;
    }

    &__attack-icon{
        background-image: url(../../images/Attack_Badge.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 4%;
        top: -7%;
        height: 50px;
        width: 45px;
    }

    
    &__ft {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 2px 8px;
        width: 46px;
        height: 20px;
        background: #212529;
        border: 1px solid #9760BC;
        border-radius: 99px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 4px; 
    }

    &__name {
        width: 100%;
        display: flex;
        margin: 1px 16px;
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 25px;
        letter-spacing: 0em;
        color: #fff;
    }

    &__damage {
        display: inline-block;
        left: 0%;
        right: 77.17%;
        top: 0%;
        bottom: 0%;

        font-family: Nunito;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

        color: #FFFFFF;

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 8px;
    }

    &__border-right {
        border-right: 2px solid rgba(255, 255, 255, 0.1);
    }

    &__button-border-right {
        border-right: 1px solid rgba(255, 255, 255, 1);
        height: 20px;
    }

    &__attack {
        margin-left: 8px;
    }

    &__border-bottom {
        opacity: 0.05;
        border: 1px solid #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 10px 5%;
        width: 90%;;
    }

    &__button-position {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__roll-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 56px;
        position: static;
        width: 80%;
        height: 42px;
        left: 0px;
        top: 0px;
        background: #C92385;
        border-radius: 8px;
        flex: none;
        order: 0;
        flex-grow: 1;
        margin: 0px 16px;
        border: none;
    }

    &__roll-button:hover {
        background: #C92385;
    }

    &__button-name {
        margin: 16px;
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 25px;
        letter-spacing: 0em;
        color: #fff;
    }
}

.attack-force {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 !important;
    padding: 3px 7px !important;
}

input[type='text'] {
    background: transparent;
    border: transparent;
    width: 50%;
}